{
  "root": true,
  "env": {
    "commonjs": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "ignorePatterns": [
    "dist",
    ".eslintrc"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "prettier"
  ],
  "rules": {
    "curly": "error",
    "camelcase": [
      "error",
      {
        "properties": "always"
      }
    ],
    "no-console": "error",
    "no-debugger": "error",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  }
}
